@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root{
    --primary-white:#ffff;
    --darkcl:rgba(255,255,255,0);
}
body{
    font-family:'Roboto Condesed' sans-serif;
}
/** Nav bar**/
.navbar-toggler{
    margin-right: 1.2rem;
}
.logo{
width: 16.25rem;
}
/** menu links **/
nav ul{
 margin-left: auto;
}
.navbar-collapse{
 margin-left: 4rem;
 margin-right: 6rem ;
}
nav a.nav-link{
 font-weight: 10;
 letter-spacing: 0.0375rem;
 cursor: pointer;
 color: var(--primary-white);
 margin-right:1.2rem ;
}
nav ul li{
    text-transform: uppercase;
}
.navbar-brand{
    max-width: 17rem;
    padding: 0 !important;
    height: 6rem !important;
    margin-left: 4rem;
}
a.active,a:focus{
    border-bottom: 0.18rem solid orange !important;
    color: orange !important;
}
a.active,a:hover{
    color: orange !important;
}
